/* Global styles for the app */
html,
body,
#root {
  height: 100%;
  background-color: rgba(46, 42, 42, 0.671);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login {
  border: 2px solid rgb(53, 50, 50);
  border-radius: 15px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}
